---
import { captures as images } from "~/config"
---

<div
  class="slides flex h-64 snap-both snap-mandatory overflow-x-scroll scroll-smooth"
>
  {
    images.map((src) => (
      <div class="flex-shrink-0 snap-center p-2">
        <img class="h-full object-cover" src={src} />
      </div>
    ))
  }
</div>
