---
import { Rss } from "lucide-react"
import { ThemeToggle } from "~/components/react/theme-toggle"
import { RSS_ENABLED, SITE_TITLE, SOCIAL_LINKS } from "~/config"
import Icon from "./icon.astro"
---

<header class="flex h-24 w-full select-none items-center justify-between">
  <a href="/" data-umami-event="site-name" aria-label={`${SITE_TITLE}`}>
    <div class="text-2xl font-semibold">{SITE_TITLE}</div>
  </a>

  <div class="flex items-center gap-6">
    {
      RSS_ENABLED && (
        <a
          href="/rss.xml"
          target="_blank"
          data-umami-event="rss"
          aria-label="RSS"
          title="RSS"
        >
          <Rss />
        </a>
      )
    }
    {
      Object.entries(SOCIAL_LINKS).map(([icon, link]) => (
        <Icon icon={icon} link={link} class="hidden md:block" />
      ))
    }
    <ThemeToggle client:load />
  </div>
</header>
