---
import Carousel from "./Carousel.astro"
import Quote from "./quote.astro"
---

<div class="my-10">
  <h3 class="my-5 text-2xl font-bold">Life</h3>
  <Quote text={"I am free and that is why I am lost."} cite={"Franz Kafka"} />
  <Carousel />
</div>
