---
import type { HTMLAttributes } from "astro/types"
import { pathEqual } from "~/utils"

type Props = HTMLAttributes<"a">

const { href, class: className, ...props } = Astro.props
const hrefPath = href?.toString().replace(import.meta.env.BASE_URL, "")
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "")
const subpath = pathname.match(/[^\/]+/g)
const isActive =
  pathEqual(hrefPath || "", pathname) ||
  pathEqual(hrefPath || "", subpath?.[0] || "")
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a.active {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  a:hover {
    color: red;
  }
</style>
