---
import { skills } from "~/config/index"
---

<div class="my-10">
  <h1></h1>
  <h3 class="my-5 text-2xl font-bold">Skills</h3>
  <div class="flex flex-wrap gap-4">
    {
      skills.map((skill) => (
        <li class="min-w-24 list-none rounded border-2 p-2 text-center transition hover:scale-110">
          <a href="">{skill}</a>
        </li>
      ))
    }
  </div>
</div>
