---
import { META } from "~/config"
import Items from "./_items.mdx"
import MainLayout from "~/layouts/main.astro"

const pageMeta = META.pageMeta
---

<MainLayout
  title={pageMeta.sale.title}
  description={pageMeta.sale.description}
  ogImage={pageMeta.sale.ogImage}
>
  <div class="prose max-w-3xl dark:prose-invert">
    <Items />
  </div>
  

</MainLayout>
